main {
  display: flex;
  justify-content: center;
}

.card {
  background-color: rgba(0, 0, 0, 0.8);
  width: 70vw;
  overflow-x: auto;
  margin: 0 0 40px 0;
  border-radius: 15px;
  box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.1);
  text-align: center;
}

.card.current {
  padding: 0 5px 10px 5px;
}

.card.current .infocontent {
  align-items: center;
}

.card.current * {
  margin: 0 10px;
}

.infoitem {
  margin: 5px 10px;
}

.infocontent {
  display: flex;
  justify-content: space-around;
}

hr {
  color: white;
}

.infoitem:last-of-type hr {
  display: none;
}

.weathericon {
  width: 60px;
  max-height: 60px;
}

.contentgroup {
  margin: 2px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentgroup * {
  margin: 2px 0;
  text-align: center;
  margin: 0 5px;
}

@media (max-width: 600px) {
  .card {
    width: 90vw;
  }
}
